<header>
    {{ if link }}
        <h2>
            <a href="{{ link }}">
                <i>↗</i> {{ title }}
            </a>
        </h2>
    {{ else }}
        <h1>
            <a href="{{ url }}">
                {{ title }}
            </a>
        </h1>
    {{ /if }}
    <p>
        <a href="{{ url }}">{{ date | format("Y-m-d") }}</a>
        {{ tags }}
            {{ unless no_results }}
                <a href="/tags/{{ slug }}" {{ if current_uri == '/tags/' + slug }}aria-current="page"{{ /if }}>
                    #{{ slug }}</a>
            {{ /unless }}
        {{ /tags }}
        {{ if link }}/ <a href="{{ link }}">{{ link | parse_url("host") }}</a>{{ /if }}
    </p>
</header>
