@import "./fonts.css";
@import "https://use.typekit.net/lxk0ejw.css";

.markdown-fieldtype-wrapper .CodeMirror {
    font-family: 'trade-gothic-next';
    font-size: 16px;
    line-height: 1.6;
    background: white;
    padding: 3rem 1.5rem;
    max-width: calc(512px + 3rem + 32px);
    margin: 0 auto;
}

.markdown-fieldtype-wrapper .CodeMirror:focus-within {
    box-shadow: none;
}

.markdown-fieldtype-wrapper .CodeMirror .cm-header {
    font-size: 1em;
}

.markdown-fieldtype-wrapper .CodeMirror .cm-comment,
.markdown-fieldtype-wrapper .CodeMirror-line:has(.cm-tag) {
    font-family: 'Berkeley Mono';
    font-size: 14px;
}
