{{ define "main" }}
<h1 class="h1">Newsletter</h1>

<section class="markup">
  <p>I occasionally send out a newsletter. The goal is to share things I believe are worth sharing. Whether those are personal stories, things I’ve been working on in the past month or just interesting things I come across.</p>
  <p>There's no fixed frequency, but generally don't expect more than one email per month. Consider it an adventure for both of us!</p>

  <div id="mc_embed_signup">
    <form
      action="https://gmail.us4.list-manage.com/subscribe/post?u=2b204a3ff638d62a481ab42fd&amp;id=cb853b68a4"
      method="post"
      id="mc-embedded-subscribe-form"
      name="mc-embedded-subscribe-form"
      target="_blank"
      class="mt-8 mb-2"
    >
      <div id="mc_embed_signup_scroll" class="flex">
        <label for="mce-EMAIL" class="sr-only">Email</label>
        <input
          type="email"
          value=""
          name="EMAIL"
          id="mce-EMAIL"
          class="w-full max-w-xs border-l border-t border-b dark:border-gray-700 bg-transparent dark:bg-gray-700 p-2 focus:outline-none focus:bg-teal-100 focus:border-teal-200 focus:text-teal-800"
          placeholder="Email"
        />
        <div style="position: absolute; left: -5000px;" aria-hidden="true">
          <input type="text" name="b_2b204a3ff638d62a481ab42fd_cb853b68a4" tabindex="-1" value="" />
        </div>
        <input
          type="submit"
          value="Subscribe"
          name="subscribe"
          id="mc-embedded-subscribe"
          class="bg-black dark:bg-gray-800 border border-black dark:border-gray-800 text-white p-2 focus:outline-none focus:bg-teal-100 focus:border-teal-200 focus:text-teal-800"
        />
      </div>
    </form>
    <p class="text-xs text-gray-700 dark:text-gray-600 leading-snug mb-8">Unsubscribe any time. Pinky swear that I won't use your data for any other purposes than this newsletter. Your email address will be stored on <a href="https://mailchimp.com/legal/privacy/" target="_blank" rel="nofollow">MailChimp's servers</a> and nowhere else.</p>
    <p>You can also subscribe via <a href="/newsletter/index.xml">RSS</a>. The feed generally gets updated within a week of sending the newsletter.</p>
  </div>
</section>

<hr>

<section class="pb-12 sm:pb-24">
  <h2 class="h2 mb-8">Previous editions</h2>

  {{ range (where $.Site.RegularPages "Section" "newsletter") }}
    <ul>
      <li class="mb-6">
        <p class="font-medium">
          <a href="{{ .RelPermalink }}">
             {{ .Title }}
          </a>
        </p>
        <p class="text-sm text-gray-700 dark:text-gray-600 markup">
          {{ .Date.Format "January 2, 2006" }}
        </p>
      </li>
    </ul>
  {{ end }}
</section>
{{ end }}
