{{ define "main" }}
<h1 class="h1">Newsletter</h1>

<section class="markup">
  <p>
    I occasionally send out a newsletter. The goal is to share things I believe
    are worth sharing. Whether those are personal stories, things I’ve been
    working on in the past month or just interesting things I come across.
  </p>
  <p>
    There's no fixed frequency, but generally don't expect more than one email
    per month. Consider it an adventure for both of us!
  </p>
  {{ partial "newsletter-form.html" }}
  <p>
    You can also subscribe via <a href="/newsletter/index.xml">RSS</a>. The feed
    generally gets updated within a week of sending the newsletter.
  </p>
</section>

<hr />

<section class="pb-12 sm:pb-24">
  <h2 class="h2 mb-8">Previous editions</h2>

  {{ range (where $.Site.RegularPages "Section" "newsletter") }}
  <ul>
    <li class="mb-6">
      <p class="font-semibold">
        <a href="{{ .RelPermalink }}"> {{ .Title }} </a>
      </p>
      <p class="text-sm text-gray-700 dark:text-gray-600 markup">
        {{ .Date.Format "January 2, 2006" }}
      </p>
    </li>
  </ul>
  {{ end }}
</section>
{{ end }}
