{{ define "main" }}

<article class="post">
  <header>
    <h1>
      <a href="{{ .RelPermalink }}">
        {{ .Title }}
      </a>
    </h1>
    <p>
        <a href="{{ .RelPermalink }}">
          <time datetime="{{ .Date.Format "2006-01-02" }}">
            {{ .Date.Format "January 2, 2006" }}
          </time>
        </a>
    </p>
  </header>
  <section class="markup">
    {{ .Content }}
  </section>
</article>
<hr>
<section class="markup">
  <h2>Subscribe</h2>
  <p>
    I occasionally send out a newsletter with personal stories, things I’ve been
    working on in the past month, and interesting things I come across.
  </p>
  {{ partial "newsletter-form.html" }}
</section>

{{ end }}
