{{ define "main" }}

<article>
  <header>
    <h1 class="h1 mb-1">
      <a href="{{ .RelPermalink }}">
        {{ .Title }}
      </a>
    </h1>
    <p class="text-sm text-gray-700 dark:text-gray-600 mb-8">
        <a href="{{ .RelPermalink }}">
          <time datetime="{{ .Date.Format "2006-01-02" }}">
            {{ .Date.Format "January 2, 2006" }}
          </time>
        </a>
    </p>
  </header>
  <section>
    <div class="mb-8">
      {{ partial "ad" }}
    </div>
    <div class="markup">
      {{ .Content }}
    </div>
  </section>
</article>

<hr>

<section class="markup | mb-12 sm:mb-24">
  <h2>Subscribe</h2>
  <p>
    I occasionally send out a newsletter. The goal is to share things I believe
    are worth sharing. Whether those are personal stories, things I’ve been
    working on in the past month or just interesting things I come across.
  </p>
  {{ partial "newsletter-form.html" }}
</section>

{{ end }}
