<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
    {{ if not (eq .Title $.Site.Title) }}
      <title>{{ .Title }} — {{ $.Site.Title }}</title>
    {{ else }}
      <title>{{ $.Site.Title }}</title>
    {{ end }}

    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
    <meta name="theme-color" content="#ffffff">

    <link rel="alternate" type="application/rss+xml" href="/index.xml" title="Sebastian De Deyne" />
    <link rel="alternate" type="application/rss+xml" href="/articles/index.xml" title="Sebastian De Deyne: Articles" />
    <link rel="alternate" type="application/rss+xml" href="/newsletter/index.xml" title="Sebastian De Deyne: Newsletter" />

    <link rel="webmention" href="https://webmention.io/sebastiandedeyne.com/webmention" />
    <link rel="pingback" href="https://webmention.io/sebastiandedeyne.com/xmlrpc" />

    <link rel="stylesheet" href="https://use.typekit.net/auk1oty.css">

    <link rel="stylesheet" type="text/css" href="/fonts/fonts.css">
    {{ with resources.Get "css/reset.css" | minify }}
      <style>{{ .Content | safeCSS }}</style>
    {{ end }}
    {{ with resources.Get "css/site.css" | minify }}
      <style>{{ .Content | safeCSS }}</style>
    {{ end }}

    {{ block "meta" . }}
      <meta name="description" content="I'm a web developer and designer. I build websites & interfaces with JavaScript, CSS and PHP." />
      <meta property="og:title" content="{{ .Title }}" />
      <meta property="og:type" content="website" />
      <meta property="og:locale" content="en_US" />
      <meta property="og:url" content="{{ .Permalink }}" />
      <meta property="og:image" content="{{ "media/me.jpg" | absURL }}" />
      <meta property="og:description" content="I'm a web developer and designer. I build websites & interfaces with JavaScript, CSS and PHP." />
    {{ end }}
  </head>
  <body>
    <header class="header">
      <div class="header-grid wrap">
        <strong>
          <a href="/">Sebastian De Deyne</a>
        </strong>
        <nav>
          <ul>
            {{ $section := index (split .RelPermalink "/") 1 }}
            {{ $isBlog := or (eq (in "speaking open-source newsletter about now" $section) false) (eq .RelPermalink "/") }}
            <li class="{{ cond $isBlog "active" "" }}">
              <a href="/posts">Blog</a>
            </li>
            <li class="{{ cond (eq $section "newsletter") "active" "" }}">
              <a href="/newsletter">Newsletter</a>
            </li>
            <li class="{{ cond (eq $section "about") "active" "" }}">
              <a href="/about">About</a>
            </li>
          </ul>
        </nav>
        <nav>
          <ul>
            <li>
              <a href="#" data-search-trigger>Search <kbd>⌘K</kbd></button>
            </li>
            <li><a href="https://twitter.com/sebdedeyne" rel="me">Twitter</a></li>
            <li><a href="/index.xml">RSS</a></li>
          </ul>
        </nav>
      </div>
    </header>

    <main class="content-wrapper">
      <div class="content wrap">
        {{ block "main" . }}{{ end }}
      </div>
    </main>

    {{ with resources.Get "css/chroma.css" | minify }}
      <style>{{ .Content | safeCSS }}</style>
    {{ end }}

    {{ partial "search.html" }}
  </body>
</html>
