{{ define "main" }}
<article class="post">
  <header class="post-header">
    <h1 class="post-title">
      <a href="{{ .RelPermalink }}">
        {{ .Title }}
      </a>
    </h1>
    <aside class="post-subtitle">
        <a href="{{ .RelPermalink }}">
          <time datetime="{{ .Date.Format "2006-01-02" }}">
            {{ .Date.Format "January 2, 2006" }}
          </time>
        </a>
    </aside>
  </header>
  <section class="markup">
    {{ .Content }}
  </section>
</article>

<div data-webmentions="https://sebastiandedeyne.com{{ .RelPermalink }}"></div>
<template id="webmention-template">
  <li>
    <p class="webmention-header">
      <a class="webmention-author">
        <img class="webmention-author-avatar"/>
        <span class="webmention-author-name"></span>
      </a>
      <a class="webmention-action"></a>
    </p>
    <div class="webmention-content markup"></div>
  </li>
</template>

{{ with resources.Get "js/webmentions.js" | minify }}
  <script>{{ .Content | safeJS }}</script>
{{ end }}
{{ end }}
