#carbonads {
  @apply text-xs text-gray-700 leading-snug mx-auto mt-48 max-w-sm;
}

@screen dark {
  #carbonads {
    @apply bg-black text-gray-300 border-black;
  }
}

#carbonads .carbon-text {
  display: block;
  margin-top: 0.5rem;
}

#carbonads .carbon-poweredby {
  display: block;
  margin-top: 0.25rem;
}
