@font-face {
  font-family: "Fira Code";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Fira Code"), url("/fonts/fira-code-regular.woff2") format("woff2"),
    url("/fonts/fira-code-regular.woff") format("woff");
}

:root {
  --gray-50: #f9fafb;
  --gray-100: #f3f4f6;
  --gray-200: #e5e7eb;
  --gray-300: #d1d5db;
  --gray-400: #9ca3af;
  --gray-500: #6b7280;
  --gray-600: #4b5563;
  --gray-700: #374151;
  --gray-800: #1f2937;
  --gray-900: #111827;
  --blue-500: #3b82f6;
  --blue-700: #1d4ed8;
  --green-50: #ecfdf5;
  --green-950: #053026;
  --indigo-50: #F5F3FF;
  --indigo-800: #5B21B6;
  --indigo-900: #4C1D95;
  --red-700: #EF4444;
  --red-800: #DC2626;
}

html {
  font-family: "Inter", system-ui, sans-serif;
  line-height: 1.75rem;
}

body {
  margin: 0;
  color: var(--gray-900);
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--gray-900);
    color: var(--gray-300);
  }
}

hr {
  border-color: var(--gray-200);
  margin-top: 2rem;
  margin-bottom: 2rem;
}

@media (min-width: 640px) {
  hr {
    margin-top: 3.5rem;
    margin-bottom: 3.5rem;
  }
}

@media (prefers-color-scheme: dark) {
  hr {
    border-color: var(--gray-800);
  }
}

kbd {
  font-size: 0.875rem;
  color: var(--gray-400);
  border: 1px solid var(--gray-300);
  border-radius: 2px;
  padding: 0 0.33em;
}

@media (prefers-color-scheme: dark) {
  kbd {
    color: var(--gray-500);
    border-color: var(--gray-500);
  }
}

input[type="email"],
input[type="submit"] {
  display: inline-block;
  padding: 0.25rem 0.5rem;
  font: inherit;
  border-radius: 0;
  -webkit-appearance: none;
  border: 1px solid transparent;
  margin: 0;
}

input[type="email"] {
  background-color: var(--gray-100);
}

input[type="submit"] {
  background-color: var(--gray-900);
  color: white;
  font-weight: 600;
}

/******************************************************************************\
 * Layout                                                                     *
\******************************************************************************/

.layout {
  margin: 0 auto;
  max-width: 74rem;
  width: 100%;
  padding: 1.75rem;
}

@media (min-width: 640px) {
  .layout {
    display: grid;
    grid-template-columns: 12rem 1fr;
    padding: 3.5rem;
  }
}

@media (min-width: 768px) {
  .layout {
    grid-template-columns: 15rem 1fr;
  }
}

@media (min-width: 1044px) {
  .layout {
    grid-template-columns: 15rem 1fr 15rem;
  }
}

@media (min-width: 1200px) {
  .layout {
    padding: 5.25rem;
  }
}

.layout-sidebar {
  padding-right: 3.5rem;
  margin-bottom: 3.5rem;
}

.layout-main {
  min-width: 0;
}

.sidebar {
  position: sticky;
  top: 0;
}

.sidebar header {
  font-weight: 600;
  white-space: nowrap;
}

@media (min-width: 640px) {
  .sidebar ul {
    margin-bottom: 1.75rem;
  }
}

.sidebar li {
  color: var(--gray-500);
}

.sidebar li.active {
  color: var(--gray-900);
}

.sidebar li.active:before {
  content: '→ ';
}

@media (prefers-color-scheme: dark) {
  .sidebar li.active {
    color: var(--gray-300);
  }
}

.sidebar kbd {
  display: none;
}

@media (min-width: 640px) {
  .sidebar kbd {
    display: inline;
  }
}

/******************************************************************************\
 * Posts                                                                      *
\******************************************************************************/

.post header h1,
.post header h2 {
  font-size: 1.2rem;
  font-weight: 600;
}

.post header p {
  color: var(--gray-500);
  margin-bottom: 1.75rem;
}

/******************************************************************************\
 * Newsletter                                                                 *
\******************************************************************************/

.newsletter-form-input-wrapper {
  display: flex;
}

.newsletter-form p {
  font-size: 0.75rem;
  line-height: 1.5;
  margin-top: 0.5rem;
}

.newsletter-form p a {
  color: currentColor;
  text-decoration: none;
}

.newsletter-cta {
  background-color: var(--indigo-50);
  color: var(--indigo-900);
  padding: 1.75rem;
  margin-top: 3.5rem;
}

.newsletter-cta .newsletter-form input[type="email"] {
  background-color: white;
}

.newsletter-cta .newsletter-form input[type="submit"] {
  background-color: var(--indigo-900);
  color: var(--indigo-50);
}

@media (prefers-color-scheme: dark) {
  .newsletter-cta {
    background-color: var(--indigo-800);
    color: var(--indigo-50);
  }

  .newsletter-cta .newsletter-form input[type="email"] {
    color: var(--indigo-900);
  }
}

/******************************************************************************\
 * Carbon                                                                     *
\******************************************************************************/

#carbonads {
  display: none;
  margin-top: 5.25rem;
  font-size: 0.75rem;
  color: var(--gray-500);
  line-height: 1.5;
}

@media (min-width: 640px) {
  #carbonads {
    display: block;
  }
}

#carbonads .carbon-text {
  display: block;
  margin-top: 0.5rem;
}

#carbonads .carbon-poweredby {
  display: block;
  margin-top: 0.25rem;
}

/******************************************************************************\
 * Markup                                                                      *
\******************************************************************************/

.markup {
  position: relative;
}

.markup > *:not(:last-child),
.markup > details > summary {
  margin-bottom: 1.75rem;
}

.markup + .markup {
  margin-top: 1.75rem;
}

.markup h1 {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 3.5rem;
}

.markup h2 {
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 3.5rem;
}

.markup h2 {
  margin-top: 3.5rem;
}

.markup h3 {
  color: var(--gray-700);
  font-size: 0.875rem;
  font-weight: 600;
  margin-top: 3.5rem;
  text-transform: uppercase;
}

.markup h2 + h3 {
  margin-top: 1.75rem;
}

.markup a,
.markup-links a {
  color: var(--blue-700);
  text-decoration: underline;
}

@media (prefers-color-scheme: dark) {
  .markup a,
  .markup-links a {
    color: var(--blue-500);
  }
}

.markup em {
  font-style: italic;
}

.markup em code {
  font-style: normal;
}

.markup strong {
  font-weight: 600;
}

.markup ul {
  list-style-type: disc;
  padding-left: 1.1em;
}

.markup ol {
  list-style-type: decimal;
  padding-left: 1.1em;
}

.markup dt {
  font-weight: 600;
}

.markup dt a {
  color: var(--gray-900);
}

@media (prefers-color-scheme: dark) {
  .markup dt a {
    color: var(--gray-300);
  }
}

.markup dl:not(.arrowless) dt a:after {
  content: "→";
  display: inline-block;
  padding-left: 0.33em;
  text-decoration: none !important;
}

.markup dd,
.markup dd a {
  color: var(--gray-600);
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  .markup dd,
  .markup dd a {
    color: var(--gray-500);
  }
}

.markup dd + dt {
  margin-top: 1.75rem;
}

.markup img {
  display: block;
  max-width: 100%;
}

.markup img.centered {
  margin-left: auto;
  margin-right: auto;
}

.markup figcaption,
.markup img + em,
.markup pre + em {
  display: block;
  font-size: 0.875rem;
  color: var(--gray-600);
  text-align: center;
  margin-top: 0.5rem;
  margin-bottom: 2.5rem;
}

.markup blockquote {
  padding: 1.75rem;
  background-color: var(--gray-100);
  border-left: 1px solid var(--gray-300);
}

@media (prefers-color-scheme: dark) {
  .markup blockquote {
    background-color: var(--gray-800);
    border-left: 1px solid var(--g ray-600);
  }
}

.markup blockquote cite {
  display: block;
  margin-top: 1rem;
  margin-bottom: -1rem;
  font-size: 0.875rem;
  color: var(--gray-600);
}

.markup blockquote cite a {
  color: inherit;
}

.markup > blockquote > *:not(:last-child) {
  margin-bottom: 1rem;
}

.markup .chroma .hl {
  display: block;
  position: relative;
}

.markup .chroma .hl:before {
  content: "";
  height: 2em;
  position: absolute;
  left: -1.75rem;
  width: 0.66rem;
  background-color: var(--blue-500);
}

.markup.large-code-blocks .chroma .hl:before {
  left: -3.5rem;
}

.markup code {
  font-family: "Fira Code", monospace;
  font-size: 0.95em;
}

.markup :not(pre) > code {
  background-color: var(--gray-100);
  color: inherit;
  padding: 0.25em;
}

@media (prefers-color-scheme: dark) {
  .markup :not(pre) > code {
    background-color: var(--gray-800);
  }
}

.markup aside {
  color: var(--gray-600);
  font-size: 0.875rem;
}

@media (min-width: 1044px) {
  .markup aside {
    line-height: 1.5;
    padding-left: 0.875rem;
    position: absolute;
    right: -15rem;
    width: calc(15rem - 3.5rem);
    margin-top: 0.35rem;
  }

  .markup aside:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0.275rem;
    width: 1px;
    height: 1.75rem;
    background-color: var(--gray-300);
  }
}

@media(prefers-color-scheme: dark) {
  .markup aside {
    color: var(--gray-400);
  }

  .markup aside:after {
    background-color: var(--gray-500);
  }
}

.markup .highlight pre {
  display: block;
  overflow-x: auto;
  padding: 1.75rem;
  ;
  background-color: var(--gray-900);
  color: var(--gray-100);
}

@media (min-width: 1044px) {
  .markup.large-code-blocks .highlight pre {
    padding: 1.75rem 3.5rem;
    margin-left: -3.5rem;
    margin-right: -3.5rem
  }
}

@media (prefers-color-scheme: dark) {
  .markup .highlight pre {
    background-color: var(--gray-800);
  }
}

.markup iframe {
  width: 100%;
}

.markup table {
  width: 100%;
  font-variant-numeric: tabular-nums;
}

.markup th {
  font-size: 0.875rem;
  padding-bottom: 0.25rem;
  font-weight: normal;
  color: var(--gray-600);
  border-bottom: 2px solid var(--gray-300);
}

.markup td {
  font-size: 0.875rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid var(--gray-300);
}

/******************************************************************************\
 * Pagination                                                                 *
\******************************************************************************/

.pagination {
  display: flex;
  justify-content: center;
}

.pagination li {
  font-size: 0.875rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.pagination li:not(.active):not(.disabled) a:not([rel]) {
  text-decoration: underline;
}

.pagination li.disabled {
  color: var(--gray-600);
  pointer-events: none;
}

/******************************************************************************\
 * Table of contents                                                          *
\******************************************************************************/

.toc {
  background-color: var(--green-50);
  color: var(--green-950);
  margin-top: 1.75rem;
  margin-bottom: 1.75rem;
  padding: 1.75rem;
}

@media (prefers-color-scheme: dark) {
  .toc {
    background-color: var(--gray-800);
    color: var(--gray-300);
  }
}

.toc h2 {
  font-size: 1.05rem;
  font-weight: 600;
}

.toc ol {
  counter-reset: toc;
  list-style: none;
}

.toc ol ol {
  margin-left: 1.75rem;
}

.toc li:before {
  display: inline-block;
  counter-increment: toc;
  content: counter(toc) ".";
  width: 1.75rem;
}

.toc li.active:before {
  content: "→";
}

.toc a {
  text-decoration: underline;
}

/******************************************************************************\
 * Search                                                                     *
\******************************************************************************/

.search-backdrop {
  display: none;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  background-color: #0005;
}

.search-pane {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  width: calc(100% - 3.5rem);
  max-width: 24rem;
  margin-top: -12rem;
  background-color: white;
  overflow: hidden;
  border-radius: 0.5rem;
  box-shadow: 0 0 25px #0005, 0 0 7px #0002;
}

@media (max-height: 445px) {
  .search-pane {
    margin-top: 2rem;
    top: 0;
    transform: translateX(-50%);
  }
}

.search-input {
  display: block;
  width: 100%;
  font: inherit;
  font-size: 1.2rem;
  padding: 1rem 0.5rem;
  background-color: var(--gray-100);
}

.search-input:focus {
  outline: none;
}

.search-results {
  max-height: 20rem;
  overflow: auto;
  line-height: 1.5;
}

@media (max-height: 445px) {
  .search-results {
    max-height: calc(100vh - 8rem);
  }
}

.search-results a {
  display: block;
  padding: 0.75rem 1rem;
}

.search-results li.selected a {
  background-color: var(--blue-500);
}

.search-result-title {
  display: block;
  font-weight: 500;
}

.search-result-meta {
  color: var(--gray-600);
  font-size: 0.875rem;
}

.search-result-keyword {
  display: inline-block;
  text-transform: lowercase;
  color: var(--gray-500);
}

.search-results li.selected .search-result-title,
.search-results li.selected .search-result-meta,
.search-results li.selected .search-result-keyword {
  color: white;
}
