:root {
  --body: white;
  --shade: #f9fafb;
  --border: #f3f4f6;
  --text: #111827;
  --text-light: #9ca3af; /* or #6b7280 or #4b5563 ? */
  --text-inverted: #f3f4f6;
  --highlight: #3b82f6;
  --link: #1d4ed8;
}

@media (prefers-color-scheme: dark) {
  :root {
    --body: #111827;
    --shade: #1f2937;
    --border: #374151;
    --text: #d1d5db;
    --highlight: #1d4ed8;
    --link: #3b82f6;
  }
}

html {
  font-size: 24px;
}

body {
  margin: 0;
  color: var(--text);
  background-color: var(--body);
  line-height: 1.6;
  font-family: franklin-gothic-urw;
}

hr {
  border-color: var(--border);
  border-top-width: 1px;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

@media (min-width: 640px) {
  hr {
    margin-top: calc(4.5rem - 1px);
    margin-bottom: 4.5rem;
  }
}

input[type="email"],
input[type="submit"] {
  display: inline-block;
  padding: 0.25rem 0.5rem;
  font: inherit;
  border-radius: 0;
  -webkit-appearance: none;
  border: 1px solid transparent;
  margin: 0;
  font-size: 0.9em;
}

input[type="email"] {
  background-color: var(--shade);
}

input[type="submit"] {
  background-color: var(--text);
  color: white;
  font-weight: 600;
}

/******************************************************************************\
 * Layout                                                                     *
\******************************************************************************/

.wrap {
  margin: 0 auto;
  max-width: 36rem;
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
}

@media (min-width: 640px) {
  .wrap {
    padding-left: 3.5rem;
    padding-right: 3.5rem;
  }
}

.header {
  font-size: 0.65rem;
  color: var(--text-light);
  padding: 1rem 0;
  margin-bottom: 4.5rem;
  line-height: 1.5;
}

.header-grid {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
}

.header strong {
  grid-column: 1 / -1;
  font-weight: 500;
  color: var(--text);
}

.header strong span {
  font-weight: 400;
  color: var(--text-light);
}

@media (min-width: 640px) {
  .header strong {
    grid-column: 1 / 2;
  }
}

.header li.active {
  color: var(--link);
}

.header li.active:before {
  content: '→ ';
  font-family: system-ui;
  font-weight: 300;
}

.header li a {
  display: inline-block;
}

.header kbd {
  display: none;
}

@media (min-width: 640px) {
  .header kbd {
    display: inline;
  }
}

.content-wrapper {
  min-height: 100vh;
  padding-bottom: 4.5rem;
}

/******************************************************************************\
 * Post                                                                       *
\******************************************************************************/

.post header {
  margin-bottom: 3.75rem;
  text-align: center;
}

.post header h1,
.post header h2 {
  font-size: 1.85rem;
  font-weight: 700;
  line-height: 1.15;
  max-width: 80%;
  margin: 0 auto;
}

.post header p {
  color: var(--text-light);
  font-size:  0.75rem;
  margin-top: 0.5rem;
}

/******************************************************************************\
 * CTA                                                                        *
\******************************************************************************/

.cta {
  margin-top: 3rem;
  color: var(--text-light);
  font-size: 0.75rem;
}

.cta a {
  position: relative;
  color: var(--link);
  text-decoration: underline;
}

/******************************************************************************\
 * Newsletter                                                                 *
\******************************************************************************/

.newsletter-form-input-wrapper {
  display: flex;
}

.newsletter-form p {
  font-size: 0.75rem;
  line-height: 1.5;
  margin-top: 0.5rem;
}

.newsletter-form p a {
  color: currentColor;
  text-decoration: none;
}

/******************************************************************************\
 * Markup                                                                      *
\******************************************************************************/

.markup {
  position: relative;
}

.markup > *:not(:last-child):not(hr),
.markup > details > summary {
  margin-bottom: 1.75rem;
}

.markup + .markup {
  margin-top: 1.75rem;
}

.markup hr {
  margin-top: 2.625rem;
  margin-bottom: 2.625rem;
}

.markup h1 {
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 3.5rem;
}

.markup h2 {
  font-size: 1.125rem;
  font-weight: 700;
  margin-top: 2.625rem;
  margin-bottom: 1.75rem;
}

.markup h3 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.85em;
  letter-spacing: 0.05em;
  margin-top: 2.625rem;
}

.markup h2 + h3 {
  margin-top: 1.75rem;
}

.markup a,
.markup-link {
  color: var(--link);
  text-decoration: underline;
}

.markup em {
  font-style: italic;
}

.markup em code {
  font-style: normal;
}

.markup strong {
  font-weight: 600;
}

.markup ul:not(.link-list) {
  list-style-type: disc;
  padding-left: 1.33em;
}

.markup ol {
  list-style-type: decimal;
  padding-left: 1.33em;
}

.markup .link-list {
  display: grid;
  grid-gap: 0.75em;
}

.markup .link-list a {
  display: block;
  text-decoration: none;
  padding: 0.75em 1.15em;
  color: var(--text-light);
  background-color: var(--shade);
  border-radius: 0.3em;
  font-size: 0.9em;
  line-height: 1.4;
}

.markup .link-list strong {
  display: block;
  font-size: 1.1em;
  font-weight: 500;
  color: var(--text);
  margin-bottom: 0.1em;
}

.markup img {
  display: block;
  max-width: 100%;
}

.markup img.centered {
  margin-left: auto;
  margin-right: auto;
}

.markup figcaption,
.markup img + em,
.markup pre + em {
  display: block;
  font-size: 0.85rem;
  color: var(--text-light);
  text-align: center;
  margin-top: 0.5rem;
  margin-bottom: 2.5rem;
}

.markup blockquote {
  padding: 1.75rem;
  border-left: 1px solid var(--border);
  background-color: var(--shade);
  border-radius: 0 2px 2px 0;
}

.markup blockquote cite {
  display: block;
  margin-top: 1rem;
  margin-bottom: -1rem;
  font-size: 0.875rem;
  color: var(--text-light);
}

.markup blockquote cite a {
  color: inherit;
}

.markup > blockquote > *:not(:last-child) {
  margin-bottom: 1rem;
}

.markup .chroma .hl {
  display: block;
  position: relative;
}

.markup .chroma .hl:before {
  content: "";
  height: 2em;
  position: absolute;
  left: -1.75rem;
  width: 0.66rem;
  background-color: var(--highlight);
}

.markup code {
  font-family: "Inconsolata", monospace;
}

.markup pre {
  background-color: var(--text);
  border-radius: 2px;
  color: var(--text-inverted);
  display: block;
  font-size: 0.9em;
  margin: 0 -0.25rem;
  overflow-x: auto;
  padding: 1.5rem;
}

.markup :not(pre) > code {
  color: inherit;
  padding: 0.1em 0.25em;
  background-color: var(--shade);
  border: 1px solid var(--border);
  border-radius: 0.2em;
}

.markup iframe {
  width: 100%;
}

.markup table {
  width: 100%;
  font-variant-numeric: tabular-nums;
}

.markup th {
  font-size: 0.875rem;
  padding-bottom: 0.25rem;
  font-weight: normal;
  color: var(--text-light);
  border-bottom: 2px solid var(--text);
}

.markup td {
  font-size: 0.875rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid var(--text);
}

/******************************************************************************\
 * Pagination                                                                 *
\******************************************************************************/

.pagination {
  display: flex;
  justify-content: center;
}

.pagination li {
  font-size: 0.875rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.pagination li:not(.active):not(.disabled) a:not([rel]) {
  text-decoration: underline;
}

.pagination li.disabled {
  color: var(--text-light);
  pointer-events: none;
}

/******************************************************************************\
 * Table of contents                                                          *
\******************************************************************************/

.toc {
  border-radius: 2px;
  margin-bottom: 1.75rem;
  background-color: var(--shade);
  border-radius: 0.3em;
  padding: 1.75rem;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-column-gap: 1.75rem;
  font-size: 0.85rem;
  line-height: 1.75;
}

.markup + .toc {
  margin-top:  2.625rem;
  margin-bottom: 0;
}

.toc h2 {
  font-weight: 600;
}

.toc ol {
  counter-reset: toc;
  list-style: none;
}

.toc ol ol {
  margin-left: 1.75rem;
}

.toc li:before {
  display: inline-block;
  counter-increment: toc;
  content: counter(toc) ".";
  width: 1.5rem;
}

.toc li.active:before {
  content: "→";
  font-family: system-ui;
  font-weight: 300;
}

.toc a {
  text-decoration: underline;
}

/******************************************************************************\
 * Search                                                                     *
\******************************************************************************/

.search-backdrop {
  display: none;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  background-color: #0005;
}

.search-pane {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  width: calc(100% - 3.5rem);
  max-width: 24rem;
  margin-top: -12rem;
  background-color: white;
  overflow: hidden;
  border-radius: 2px;
  box-shadow: 0 0 25px #0005, 0 0 7px #0002;
}

@media (max-height: 445px) {
  .search-pane {
    margin-top: 2rem;
    top: 0;
    transform: translateX(-50%);
  }
}

.search-input {
  display: block;
  width: 100%;
  font: inherit;
  font-size: 1.2rem;
  padding: 1rem 0.5rem;
  background-color: var(--shade);
}

.search-input:focus {
  outline: none;
}

.search-results {
  max-height: 20rem;
  overflow: auto;
  line-height: 1.4;
}

@media (max-height: 445px) {
  .search-results {
    max-height: calc(100vh - 8rem);
  }
}

.search-results a {
  display: block;
  padding: 0.75rem 1rem;
}

.search-results li.selected a {
  background-color: var(--highlight);
}

.search-result-title {
  display: block;
  font-weight: 600;
}

.search-result-meta {
  color: var(--text-light);
  font-size: 0.8rem;
}

.search-result-keyword {
  display: inline-block;
  text-transform: lowercase;
  color: var(--text-light);
}

.search-results li.selected .search-result-title,
.search-results li.selected .search-result-meta,
.search-results li.selected .search-result-keyword {
  color: white;
}
