@tailwind base;
@tailwind utilities;

html {
  font-size: 18px;
}

@screen md {
  html {
    font-size: 19px;
  }
}

hr {
  @apply my-12;
}

@screen dark {
  hr {
    @apply border-gray-800;
  }
}

@screen sm {
  hr {
    @apply my-20;
  }
}

/******************************************************************************\
 * Header                                                                      *
\******************************************************************************/

.header {
  display: grid;
  grid-column-gap: 1.5rem;
  align-items: center;
  grid-template-areas:
    "title nav"
    "title service";
}

@screen lg {
  .header {
    grid-template-areas: "title nav service";
    grid-template-columns: auto auto min-content;
  }
}

@screen xl {
  .header {
    grid-template-columns: 1fr auto 1fr;
  }
}

.header-title {
  grid-area: title;
}

.header-nav {
  grid-area: nav;
}

.header-service {
  grid-area: service;
}

/******************************************************************************\
 * Markup                                                                      *
\******************************************************************************/

.markup > *:not(:last-child) {
  @apply mb-6;
}

.h1,
.markup h1 {
  @apply text-2xl font-bold leading-tight mb-12;
}

.h2,
.markup h2 {
  @apply text-lg font-bold mt-12 leading-tight;
}

.h3,
.markup h3 {
  @apply text-base font-bold mt-12;
}

.markup a {
  @apply text-blue-700 underline;
}

@screen dark {
  .markup a {
    @apply text-blue-500;
  }
}

.markup em {
  @apply italic;
}

.markup em code {
  @apply not-italic;
}

.markup strong {
  @apply font-bold;
}

.markup ul {
  @apply list-disc pl-4;
}

.markup img {
  @apply block;
  max-width: calc(100% + theme("spacing.12"));
}

@screen sm {
  .markup img {
    max-width: calc(100% + theme("spacing.24"));
  }
}

.markup img.centered {
  @apply max-w-full mx-auto;
}

.markup img.bordered {
  @apply border;
}

@screen dark {
  .markup img.bordered {
    @apply border-gray-800;
  }
}

.markup figcaption,
.markup img + em,
.markup pre + em {
  @apply block text-sm text-gray-600 text-center mt-4 mb-8;
}

.markup blockquote {
  @apply p-6 bg-gray-100;
}

@screen dark {
  .markup blockquote {
    @apply bg-gray-800;
  }
}

@screen sm {
  .markup blockquote {
    @apply p-12;
  }
}

.markup blockquote cite {
  @apply block mt-4 -mb-4 text-xs text-gray-600;
}

.markup blockquote cite a {
  @apply text-inherit;
}

.markup > blockquote > *:not(:last-child) {
  @apply mb-4;
}

.markup img,
.markup pre,
.markup blockquote,
.markup .cp_embed_wrapper,
.markup .chroma .hl {
  @apply -mx-6;
}

@screen sm {
  .markup img,
  .markup pre,
  .markup blockquote,
  .markup .cp_embed_wrapper,
  .markup .chroma .hl {
    @apply -mx-12;
  }
}

.markup .chroma .hl {
  @apply block relative px-6;
  width: calc(100% + theme("spacing.12"));
}

@screen sm {
  .markup .chroma .hl {
    @apply px-12;
    width: calc(100% + theme("spacing.24"));
  }
}

.markup .chroma .hl:before {
  content: "";
  height: 2em;
  @apply absolute left-0 w-2 bg-blue-700;
}

.markup code {
  font-family: "Fira Code", monospace;
  font-size: 0.85em;
}

.markup :not(pre) > code {
  @apply bg-gray-100 text-inherit p-1;
}

@screen dark {
  .markup :not(pre) > code {
    @apply bg-gray-800;
  }
}

.markup aside {
  @apply text-gray-600 text-xs my-12;
}

.markup aside p + p {
  margin-top: 1rem;
}

.markup .highlight pre {
  @apply block overflow-x-auto p-6 bg-gray-900 text-gray-100 leading-loose;
}

@screen dark {
  .markup .highlight pre {
    @apply bg-gray-800;
  }
}

@screen sm {
  .markup .highlight pre {
    @apply p-12;
  }
}

/******************************************************************************\
 * Pagination                                                                 *
\******************************************************************************/

.pagination {
  @apply flex justify-center mb-12;
}

.pagination li {
  @apply text-sm mx-2;
}

.pagination li:not(.active):not(.disabled) a:not([rel]) {
  @apply underline;
}

.pagination li.disabled {
  @apply text-gray-600;
  pointer-events: none;
}
