@font-face {
  font-family: "Fira Code";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Fira Code"), url("/fonts/fira-code-regular.woff2") format("woff2"),
    url("/fonts/fira-code-regular.woff") format("woff");
}

:root {
  --gray-50: #F9FAFB;
  --gray-100: #F3F4F6;
  --gray-200: #E5E7EB;
  --gray-300: #D1D5DB;
  --gray-400: #9CA3AF;
  --gray-500: #6B7280;
  --gray-600: #4B5563;
  --gray-700: #374151;
  --gray-800: #1F2937;
  --gray-900: #111827;
  --blue-500: #3B82F6;
  --blue-700: #1D4ED8;
  --green-50: #ecfdf5;
  --green-950: #053026;
}

html {
  font-family: 'Inter', system-ui, sans-serif;
  line-height: 1.75rem;
}

body {
  margin: 0;
  color: var(--gray-900);
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--gray-900);
    color: var(--gray-300);
  }
}

hr {
  border-color: var(--gray-200);
  margin-top: 2rem;
  margin-bottom: 2rem;
}

@media (min-width: 640px) {
  hr {
    margin-top: 3.5rem;
    margin-bottom: 3.5rem;
  }
}

@media (prefers-color-scheme: dark) {
  hr {
    border-color: var(--gray-800);
  }
}

input[type="text"],
input[type="email"],
input[type="search"] {
  background-color: var(--gray-100);
  border: 2px solid var(--gray-100);
  font: inherit;
  height: 2.5rem;
  padding: 0 0.75rem;
}

input[type="search"] {
  padding: 0;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="search"]:focus {
  border-color: var(--blue-500);
  outline: none;
}

input[type="submit"] {
  background-color: var(--gray-900);
  color: white;
  font: inherit;
  font-weight: 600;
  height: 2.5rem;
  padding: 0.25rem 0.5rem;
}

input[type="submit"]:focus {
  background-color: var(--blue-700);
  outline: none;
}

.layout {
  margin: 0 auto;
  max-width: 60rem;
  width: 100%;
  padding: 1.75rem;
}

@media (min-width: 640px) {
  .layout {
    display: grid;
    grid-template-columns: 12rem 1fr;
    padding: 3.5rem;
  }
}

@media (min-width: 768px) {
  .layout {
    grid-template-columns: 16rem 1fr;
    padding: 5.25rem;
  }
}

.layout-sidebar {
  padding-right: 3rem;
  margin-bottom: 3.5rem;
}

.layout-main {
  min-width: 0;
}

.sidebar header {
  color: var(--gray-500);
  font-weight: 600;
  white-space: nowrap;
}

@media (min-width: 640px) {
  .sidebar ul {
    margin-bottom: 1.75rem;
  }
}

.sidebar li {
  color: var(--gray-500);
}

.sidebar li.active {
  color: var(--gray-900);
  font-weight: 600;
}

@media (prefers-color-scheme: dark) {
  .sidebar li.active {
    color: var(--gray-300);
  }
}

.post header h1,
.post header h2 {
  font-size: 1.2rem;
  font-weight: 600;
}

.post header p {
  color: var(--gray-500);
  margin-bottom: 1.75rem;
}

@media (prefers-color-scheme: dark) {
  .newsletter-form input[type="submit"] {
    background-color: var(--gray-600);
    color: var(--gray-100);
  }
}

.newsletter-form p {
  color: var(--gray-700);
  font-size: 0.75rem;
  line-height: 1.5;
  margin-top: 0.5rem;
}

@media (prefers-color-scheme: dark) {
  .newsletter-form p {
    color: var(--gray-500);
  }
}

.archive-search {
  height: 1.75rem;
  margin-bottom: 1.75rem;
}

.archive-keywords {
  display: flex;
  flex-wrap: wrap;
  line-height: 1.25;
}

.archive-keywords button {
  text-decoration: underline;
  font-size: 0.75rem;
}

.archive-groups {
  border-bottom: 1px solid var(--gray-300);
  padding-bottom: 3.5rem;
}

.archive-group {
  border-top: 1px solid var(--gray-300);
  display: grid;
  grid-gap: 1.75rem;
  margin-top: 3.5rem;
  padding-top: 3.5rem;
}

@media (min-width: 640px) {
  .archive-group {
    grid-template-columns: 9em 1fr;
  }
}

.archive-group h2 {
  font-weight: 600;
}

#carbonads {
  display: none;
  margin-top: 5.25rem;
  font-size: 0.75rem;
  color: var(--gray-500);
  line-height: 1.5;
}

@media (min-width: 640px) {
  #carbonads {
    display: block;
  }
}

#carbonads .carbon-text {
  display: block;
  margin-top: 0.5rem;
}

#carbonads .carbon-poweredby {
  display: block;
  margin-top: 0.25rem;
}

/******************************************************************************\
 * Markup                                                                      *
\******************************************************************************/

.markup > *:not(:last-child),
.markup > details > summary {
  margin-bottom: 1.75rem;
}

.markup + .markup {
  margin-top: 1.75rem;
}

.markup h1 {
  font-size: 1.2rem;;
  font-weight: 600;
  margin-bottom: 3.5rem;
}

.markup h2 {
  font-size: 1.1rem;;
  font-weight: 600;
  margin-bottom: 3.5rem;
}

.markup h2 {
  margin-top: 3.5rem;
}

.markup h3 {
  color: var(--gray-700);
  font-size: 0.875rem;
  font-weight: 600;
  margin-top: 3.5rem;
  text-transform: uppercase;
}

.markup h2 + h3 {
  margin-top: 1.75rem;
}

.markup a,
.markup-links a {
  color: var(--blue-700);
  text-decoration: underline;
}

@media (prefers-color-scheme: dark) {
  .markup a,
  .markup-links a {
    color: var(--blue-500);
  }
}

.markup em {
  font-style: italic;
}

.markup em code {
  font-style: normal;
}

.markup strong {
  font-weight: 600;
}

.markup ul {
  list-style-type: disc;
  padding-left: 1.1em;
}

.markup ol {
  list-style-type: decimal;
  padding-left: 1.1em;
}

.markup dt {
  font-weight: 600;
}

.markup dt a {
  color: var(--gray-900);
}

@media (prefers-color-scheme: dark) {
  .markup dt a {
    color: var(--gray-300);
  }
}

.markup dl:not(.arrowless) dt a:after {
  content: '→';
  display: inline-block;
  padding-left: 0.33em;
  text-decoration: none !important;
}

.markup dd,
.markup dd a {
  color: var(--gray-600);
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  .markup dd,
  .markup dd a {
    color: var(--gray-500);
  }
}

.markup dd + dt {
  margin-top: 1.75rem;
}

.markup img {
  display: block;
  max-width: 100%;
}

.markup img.centered {
  margin-left: auto;
  margin-right: auto;
}

.markup figcaption,
.markup img + em,
.markup pre + em {
  display: block;
  font-size: 0.875rem;
  color: var(--gray-600);
  text-align: center;
  margin-top: 0.5rem;
  margin-bottom: 2.5rem;
}

.markup blockquote {
  padding: 1.75rem;
  background-color: var(--gray-100);
  border-left: 1px solid var(--gray-300);
}

@media (prefers-color-scheme: dark) {
  .markup blockquote {
    background-color: var(--gray-800);
    border-left: 1px solid var(--g  ray-600);
  }
}

.markup blockquote cite {
  display: block;
  margin-top: 1rem;
  margin-bottom: -1rem;
  font-size: 0.875rem;
  color: var(--gray-600);
}

.markup blockquote cite a {
  color: inherit;
}

.markup > blockquote > *:not(:last-child) {
  margin-bottom: 1rem;
}

.markup .chroma .hl {
  display: block;
  position: relative;
}

@media (min-width: 640px) {
  .markup .chroma .hl {
  }
}

.markup .chroma .hl:before {
  content: "";
  height: 2em;
  position: absolute;
  left: -1.75rem;
  width: 0.66rem;
  background-color: var(--blue-500);
}

.markup code {
  font-family: 'Fira Code', monospace;
  font-size: 0.875em;
}

.markup :not(pre) > code {
  background-color: var(--gray-100);
  color: inherit;
  padding: 0.25em;
}

@media (prefers-color-scheme: dark) {
  .markup :not(pre) > code {
    background-color: var(--gray-800);
  }
}

.markup aside {
  color: var(--gray-600);
  font-size: 0.875rem;
  margin-top: 2rem;
}

.markup aside p + p {
  margin-top: 1rem;
}

.markup .highlight pre {
  display: block;
  overflow-x: auto;
  padding: 1.75rem;
  background-color: var(--gray-900);
  color: var(--gray-100);
}

@media (prefers-color-scheme: dark) {
  .markup .highlight pre {
    background-color: var(--gray-800);
  }
}

@media (min-width: 640px) {
  .markup .highlight pre {
    padding: 1.75rem;
  }
}

.markup iframe {
  width: 100%;
}

.markup table {
  width: 100%;
  font-variant-numeric: tabular-nums;
}

.markup th {
  font-size: 0.875rem;
  padding-bottom: 0.25rem;
  font-weight: normal;
  color: var(--gray-600);
  border-bottom: 2px solid var(--gray-300);
}

.markup td {
  font-size: 0.875rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid var(--gray-300);
}

/******************************************************************************\
 * Pagination                                                                 *
\******************************************************************************/

.pagination {
  display: flex;
  justify-content: center;
}

.pagination li {
  font-size: 0.875rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.pagination li:not(.active):not(.disabled) a:not([rel]) {
  text-decoration: underline;
}

.pagination li.disabled {
  color: var(--gray-600);
  pointer-events: none;
}

/******************************************************************************\
 * Table of contents                                                          *
\******************************************************************************/

.toc {
  background-color: var(--green-50);
  color: var(--green-950);
  margin-top: 1.75rem;
  margin-bottom: 1.75rem;
  padding: 1.75rem;
}

@media (prefers-color-scheme: dark) {
  .toc {
    background-color: var(--gray-800);
    color: var(--gray-300);
  }
}

.toc h2 {
  font-size: 1.05rem;
  font-weight: 600;
}

.toc ol {
  counter-reset: toc;
  list-style: none;
}

.toc ol ol {
  margin-left: 1.75rem;
}

.toc li:before {
  display: inline-block;
  counter-increment: toc;
  content: counter(toc) ".";
  width: 1.75rem;
}

.toc li.active:before {
  content: "→";
}

.toc a {
  text-decoration: underline;
}
