.grid {
  --gutter: 3rem;

  display: grid;
  grid-template-columns:
    1fr
    var(--gutter)
    var(--gutter)
    minmax(20rem, 28rem)
    var(--gutter)
    var(--gutter)
    2fr;
  row-gap: 1rem;
  padding: 0 2rem;
}

.grid > .bigtitle {
  grid-column: 2 / -4;
}

.grid > .bigtitle--centered {
  grid-column: 1 / -1;
}

.grid > * {
  grid-column: 4 / -4;
}

.grid--header > * {
  grid-column: 1 / -1;
}

.grid--article > pre,
.grid--article > blockquote {
  grid-column: 3 / -2;
  padding: 2.5rem var(--gutter);
}

.grid--article > p:has(img) {
  grid-column: 1 / -1;
}
