.grid {
  --sidebar: 10rem;

  display: grid;
  grid-template-columns:
    1fr
    auto
    minmax(20rem, 32rem)
    1fr;
  column-gap: calc(var(--spacing) * 3);
  padding: 0 2rem calc(var(--spacing) * 4);
  min-height: 100vh;
}

.grid > .sidebar {
  grid-column: 2 / 3;
  grid-row: 1 / 999;
}

.grid > article {
  display: contents;
}

.grid > *,
.grid > article > * {
  grid-column: 3 / 4;
}

.grid > article > pre {
  grid-column: 2 / -1;
}

.grid > article > blockquote {
  grid-column: 3 / -1;
}

.grid > article > p:has(img) {
  grid-column: 1 / -1;
}

.grid > .footer {
  grid-column: 1 / -1;
}
