.header {
  display: grid;
  grid-template-columns: auto repeat(3, min-content);
  column-gap: 4rem;
  line-height: 1.4;
  padding-top: 1.5rem;
  padding-bottom: 2.5rem;
  font-family: var(--font-display);
  color: white;
  font-size: 0.8rem;
}

.header a {
  color: currentColor;
  text-decoration: none;
}

.header__title {
  text-transform: uppercase;
  font-weight: bold;
}

.header__links {
  list-style: none;
}

.header__links a {
  position: relative;
}

.header__links a:before {
  position: absolute;
  left: -1.5ch;
}

.header__links a[aria-current="true"]:before {
  content: '▮';
  color: cyan;
}

.header__links a:hover:before {
  content: '▮';
  color: white;
  animation: 0.075s flicker infinite;
}

.header__links a[href*="twitter"]:hover:before,
.header__links a[href*="xml"]:hover:before {
  content: '↗';
}
