.home {
    background-color: blue;
    font-family: var(--font-display);
    font-size: 0.8rem;
    color: white;
    display: flex;
    align-items: center;
}

.home a {
  color: currentColor;
  text-decoration: underline;
}
