.footer {
    padding: calc(var(--spacing) * 5) var(--spacing) calc(var(--spacing) * 1);
    color: gray;
    text-align: left;
    font-size: var(--text-xs);
    font-family: var(--font-mono);
    display: flex;
    justify-content: flex-end;
}

.footer a:hover {
    text-decoration: underline;
}
