{{ define "meta" }}
  {{ with .Params.description }}
    <meta name="description" content="{{ . }}" />
  {{ else }}
    <meta name="description" content="{{ .Summary | truncate 155 }}" />
  {{ end }}
  <meta property="og:title" content="{{ .Title }}" />
  <meta property="og:type" content="article" />
  <meta property="og:locale" content="en_US" />
  <meta property="og:url" content="{{ .Permalink }}" />
  {{ with .Params.image }}
    <meta property="og:image" content="{{ . }}" />
  {{ else }}
    <meta property="og:image" content="https://sebastiandedeyne.com/media/me.jpg" />
  {{ end }}
  {{ with .Params.description }}
    <meta name="description" content="{{ . }}" />
  {{ else }}
    <meta property="og:description" content="{{ .Summary | truncate 300 }}" />
  {{ end }}
  <meta property="article:published_time" content="{{ .Date.Format "2006-01-02T15:04:05Z0700" }}" />
  <meta property="article:modified_time" content="{{ .Lastmod.Format "2006-01-02T15:04:05Z0700" }}" />
  <meta property="article:author" content="Sebastian De Deyne" />
  {{ with .Keywords }}
    <meta property="article:section" content="{{ index . 0 | title }}" />
  {{ end }}
{{ end }}

{{ define "main" }}
  <article class="post">
    {{ partial "post-header.html" (dict "post" . "heading" "h1" "site" $.Site) }}
    <section>
      {{ if .Truncated }}
        <div class="markup">
          {{ .Summary }}
        </div>
        {{ if .Params.toc }}
          <nav class="toc">
            <h2>In this post</h2>
            {{ .TableOfContents }}
          </nav>
        {{ end }}
        <div class="markup">
          {{ if ne .Params.ad false }}
            {{ partial "ad" }}
          {{ end }}
          {{ safeHTML (replace .Content .Summary "") }}
        </div>
      {{ else }}
        <div class="markup">
          {{ .Content }}
        </div>
      {{ end }}
      {{ if .Params.series }}
        {{ with index $.Site.Data.series .Params.series }}
          {{ partial "series.html" (dict "series" . "currentSlug" $.Page.Slug) }}
        {{ end }}
      {{ end }}
    </section>
  </article>
{{ end }}
