{{ define "meta" }}
  {{ with .Params.description }}
    <meta name="description" content="{{ . }}" />
  {{ else }}
    <meta name="description" content="{{ .Summary | truncate 155 }}" />
  {{ end }}
  <meta property="og:title" content="{{ .Title }}" />
  <meta property="og:type" content="article" />
  <meta property="og:locale" content="en_US" />
  <meta property="og:url" content="{{ .Permalink }}" />
  <meta property="og:image" content="{{ "media/me.jpg" | absURL }}" />
  {{ with .Params.description }}
    <meta name="description" content="{{ . }}" />
  {{ else }}
    <meta property="og:description" content="{{ .Summary | truncate 300 }}" />
  {{ end }}
  <meta property="article:published_time" content="{{ .Date.Format "2006-01-02T15:04:05Z0700" }}" />
  <meta property="article:modified_time" content="{{ .Lastmod.Format "2006-01-02T15:04:05Z0700" }}" />
  <meta property="article:author" content="Sebastian De Deyne" />
  {{ with .Keywords }}
    <meta property="article:section" content="{{ index . 0 | title }}" />
  {{ end }}
{{ end }}

{{ define "main" }}
<article class="mb-12 sm:mb-24">
  {{ partial "post-header.html" (dict "post" . "heading" "h1" "all_series" $.Site.Data.series) }}
  <section>
    {{ if .Truncated }}
      <div class="markup">
        {{ .Summary }}
      </div>
      {{ if (ne .Params.ad false) }}
        <div class="mt-6">
          {{ partial "ad" }}
        </div>
      {{ end }}
      <div class="markup">
        {{ safeHTML (replace .Content .Summary "") }}
      </div>
    {{ else }}
      <div class="markup">
        {{ .Content }}
      </div>
      {{ if (ne .Params.ad false) }}
        <div class="mt-8">
          {{ partial "ad" }}
        </div>
      {{ end }}
    {{ end }}
  </section>
  {{ if .Params.series }}
    {{ with index $.Site.Data.series .Params.series }}
      <div id="series" class="pt-8">
        {{ partial "series.html" (dict "series" . "currentSlug" $.Page.Slug) }}
      </div>
    {{ end }}
  {{ end }}
</article>

{{ $related := .Site.RegularPages.Related . | first 3 }}
{{ $keywords := .Keywords }}
{{ with $related }}
  <hr>
  <section class="mb-12 sm:mb-24">
    <h2 class="h2 mt-6 mb-8">
      More about {{ delimit $keywords ", " " & " }}
    </h2>
    <ul>
      {{ range . }}
        <li class="mb-6">
          <p class="font-medium leading-snug">
            <a href="{{ .RelPermalink }}">
              {{ .Title }}
            </a>
          </p>
          <p class="text-sm text-gray-700">
            <a href="{{ .RelPermalink }}">
              <time datetime="{{ .Date.Format "2006-01-02" }}">
                {{ .Date.Format "January 2, 2006" }}
              </time>
            </a>
          </p>
        </li>
      {{ end }}
    </ul>
  </section>
{{ end }}

{{ with index $.Site.Data.webmentions (replace (trim .RelPermalink "/") "/" "--") }}
  {{ with where . "wm-property" "in" (slice "in-reply-to" "mention-of") }}
    <hr>
    <h2 class="h2 mt-6">
      Webmentions
      <a
        href="https://sebastiandedeyne.com/adding-webmentions-to-my-blog"
        class="ml-2 font-normal text-gray-700 dark:text-gray-500 text-xs w-4 h-4 inline-flex items-center justify-center bg-gray-200 dark:bg-gray-800 rounded-full font-medium"
        style="transform: translateY(-2px)"
      >
        ?
      </a>
    </h2>
    <div class="pb-12 sm:pb-24">
      <ul class="mt-8">
        {{ range . }}
          {{ $reply := . }}
          <li class="mb-8 last:mb-0">
            <p class="mb-1">
              <a href="{{ $reply.author.url }}">
                <img
                  src="{{ $reply.author.photo }}"
                  alt="Photo of {{ $reply.author.name }}"
                  class="inline-block w-8 h-8 object-cover rounded-full mr-1 mb-1 border"
                />
                <span class="font-bold">{{ $reply.author.name }}</span>
              </a>
              <a href="{{ $reply.url }}" class="text-gray-700 text-sm ml-1">
                {{ (index $reply "wm-received") | replaceRE "^([^T]+)T([^Z]+):[0-9][0-9]Z" "$1 $2" }}
              </a>
            </p>
            <div class="markup">
              {{ if $reply.content.html }}
                {{ safeHTML $reply.content.html }}
              {{ else }}
                {{ $reply.content.text }}
              {{ end }}
            </div>
          </li>
        {{ end }}
      </ul>
    </div>
  {{ end }}
{{ end }}

{{ end }}
