{{ define "main" }}
<article class="mb-12 sm:mb-24">
  <header>
    <h1 class="h1 mb-1">
      <a href="{{ .RelPermalink }}">
        {{ .Title }}
      </a>
    </h1>
    <p class="text-sm text-gray-600 mb-8">
        <a href="{{ .RelPermalink }}">
          <time datetime="{{ .Date.Format "2006-01-02" }}">
            {{ .Date.Format "January 2, 2006" }}
          </time>
          {{ if (in .Params.categories "articles") }}
            {{ $readingtime := div (.Content | countwords) 200 }}
            | {{ cond (lt $readingtime 1) 1 $readingtime }} min read
          {{ end }}
        </a>
    </p>
  </header>
  <section>
    {{ if .Truncated }}
      <div class="markup mb-6">
        {{ .Summary }}
      </div>
      {{ partial "ad" }}
      <div class="markup">
        {{ safeHTML (replace .Content .Summary "") }}
      </div>
    {{ else }}
      <div class="mb-8">
        {{ partial "ad" }}
      </div>
      <div class="markup">
        {{ .Content }}
      </div>
    {{ end }}
  </section>
</article>

{{ $related := .Site.RegularPages.Related . | first 3 }}
{{ $keywords := .Keywords }}
{{ with $related }}
  <hr>
  <section class="mb-12 sm:mb-24">
    <h2 class="h2 mt-6 mb-8">
      More about {{ delimit $keywords ", " " & " }}
    </h2>
    <ul>
      {{ range . }}
        <li class="mb-6">
          <p class="font-medium leading-snug">
            <a href="{{ .RelPermalink }}">
              {{ .Title }}
            </a>
          </p>
          <p class="text-sm text-gray-600">
            <a href="{{ .RelPermalink }}">
              <time datetime="{{ .Date.Format "2006-01-02" }}">
                {{ .Date.Format "January 2, 2006" }}
              </time>
            </a>
          </p>
        </li>
      {{ end }}
    </ul>
  </section>
{{ end }}

<div data-webmentions="https://sebastiandedeyne.com{{ .RelPermalink }}"></div>
{{ partial "webmentions.html" }}

{{ end }}
