<header>
  <p>
    <a href="{{ .Page.Permalink }}">
      <time datetime="{{ .Page.Date.Format "2006-01-02" }}">
        {{ .Page.Date.Format "2006-01-02" }}</time></a>
    {{ $permalink := .Permalink }}
    {{ range .Page.Params.tags }}
        {{ $url := absURL (print "/tags/" (urlize .) "/") }}
        <a href="{{ $url }}" {{ if eq $url $permalink }}aria-current="page"{{ end }}>#{{ . | lower | urlize }}</a>
    {{ end }}
    {{ if .Page.Params.link }}
      / <a href="{{ .Page.Params.link }}">{{ (urls.Parse .Page.Params.link).Host }}</a>
    {{ end }}
  </p>
  <h2>
    {{ if .Page.Params.link }}
      <a href="{{ .Page.Params.link }}">
        <i>↗</i> {{ .Page.Title }}
      </a>
    {{ else }}
      <a href="{{ .Page.Permalink }}">
        {{ .Page.Title }}
      </a>
    {{ end }}
  </h2>
</header>
