<div id="mc_embed_signup">
  <form
    action="https://gmail.us4.list-manage.com/subscribe/post?u=2b204a3ff638d62a481ab42fd&amp;id=cb853b68a4"
    method="post"
    id="mc-embedded-subscribe-form"
    name="mc-embedded-subscribe-form"
    target="_blank"
  >
    <div id="mc_embed_signup_scroll" class="flex">
      <label for="mce-EMAIL" class="sr-only">Email</label>
      <input
        type="email"
        value=""
        name="EMAIL"
        id="mce-EMAIL"
        class="w-full bg-gray-200 bg-transparent dark:bg-gray-700 px-3 py-1 focus:outline-none focus:bg-gray-300"
        style="max-width: 22ch"
        placeholder="Email"
      />
      <div style="position: absolute; left: -5000px" aria-hidden="true">
        <input
          type="text"
          name="b_2b204a3ff638d62a481ab42fd_cb853b68a4"
          tabindex="-1"
          value=""
        />
      </div>
      <input
        type="submit"
        value="Subscribe"
        name="subscribe"
        id="mc-embedded-subscribe"
        class="bg-black dark:bg-gray-800 text-white font-bold px-3 py-1 focus:outline-none focus:bg-blue-700"
      />
    </div>
  </form>
  <p class="text-xs text-gray-700 dark:text-gray-600 mt-1">
    Pinky swear that I won't use your data for any other purposes. Your email
    address will be stored on
    <a
      href="https://mailchimp.com/legal/privacy/"
      target="_blank"
      rel="nofollow"
      >Mailchimp</a
    >
    and nowhere else.
  </p>
</div>
