{{ $post := .post }}
<header>
  {{ if eq .heading "h1" }}
    <h1>
      <a href="{{ $post.RelPermalink }}">
        {{ $post.Title }}
      </a>
    </h1>
  {{ end }}
  {{ if eq .heading "h2" }}
    <h2>
      <a href="{{ $post.RelPermalink }}">
        {{ $post.Title }}
      </a>
    </h2>
  {{ end }}
  <p>
      <a href="{{ $post.RelPermalink }}">
        <time datetime="{{ $post.Date.Format "2006-01-02" }}">
          {{ $post.Date.Format "January 2, 2006" }}
        </time>
        {{ if (in $post.Params.categories "articles") }}
          {{ $readingtime := div ($post.Content | countwords) 200 }}
          ∙ {{ cond (lt $readingtime 1) 1 $readingtime }} min. read
        {{ end }}
        {{ with $post.Params.link }}
          ∙ <a href="{{ . }}" class="markup-link">{{ (urls.Parse .).Host }}</a>
        {{ end }}
      </a>
  </p>
</header>
