{{ $post := .post }}
<header>
  {{ if eq .heading "h1" }}
    <h1 class="font-bold">
      <a href="{{ $post.RelPermalink }}">
        {{ $post.Title }}
      </a>
    </h1>
  {{ end }}
  {{ if eq .heading "h2" }}
    <h2 class="font-bold">
      <a href="{{ $post.RelPermalink }}">
        {{ $post.Title }}
      </a>
    </h2>
  {{ end }}
  <p class="text-gray-700 dark:text-gray-600 mb-6">
      <a href="{{ $post.RelPermalink }}">
        <time datetime="{{ $post.Date.Format "2006-01-02" }}">
          {{ $post.Date.Format "January 2, 2006" }}
        </time>
        {{ if (in $post.Params.categories "articles") }}
          {{ $readingtime := div ($post.Content | countwords) 200 }}
          | {{ cond (lt $readingtime 1) 1 $readingtime }} min read
        {{ end }}
        {{ with $post.Params.link }}
          | on <a href="{{ . }}" class="link">{{ (urls.Parse .).Host }}</a>
        {{ end }}
        {{ if $post.Params.series }}
          {{ with $series := index .all_series $post.Params.series }}
            | {{ $series.title }}
            {{ range $index, $p := $series.posts }}
              {{ if eq $p.slug $post.Params.slug }}
                {{ add $index 1 }}/{{ len $series.posts }}
              {{ end }}
            {{ end }}
          {{ end }}
        {{ end }}
      </a>
  </p>
</header>
