<template id="search-template">
  <li data-search-result>
    <a data-href>
      <span class="search-result-title" data-title>{title}</span>
      <span class="search-result-meta">
        <time data-date>
          {formatted_date}
        </time>
      </span>
    </a>
  </li>
</template>
<div class="search-backdrop" data-search-backdrop>
  <nav class="search-pane">
    <input type="search" class="search-input" data-search-input autofocus>
    <ul id="search-results" class="search-results"></ul>
  </nav>
</div>
{{ with resources.Get "js/search.js" | minify }}
  <script>{{ .Content | safeJS }}</script>
{{ end }}
