<section class="bg-gray-900 dark:bg-gray-800 text-white leading-snug p-12 mt-12">
  <p class="font-medium mb-1 text-lg">JavaScript Framework Diet</p>
  <div class="markup markup-tight | mb-12 text-gray-400 text-xs">
    {{ .series.description | markdownify }}
  </div>
  <ol class="toc-list | text-sm">
    {{ range .series.posts }}
        {{ if .slug }}
          {{ if eq .slug $.currentSlug }}
            <li class="active">{{ .title }}</li>
          {{ else }}
            <li><a href="{{ .slug | relURL }}">{{ .title }}</a></li>
          {{ end }}
        {{ else }}
          <li class="text-gray-600">
            <span>{{ .title }}</span>
          </li>
        {{ end }}
    {{ end }}
  </ol>
</section>
