{{ define "main" }}
  <article>
    <p class="font-bold text-2xl">Sebastian De Deyne</p>
    <p class="text-sm text-gray-700 dark:text-gray-600">(or just Seb)</p>
    <p class="mt-6">Designer and full-stack developer from Ghent, Belgium.</p>
    <hr class="md:mt-20 mb-8 w-1/4">
    <p>I write and share links about programming, JavaScript, Inertia.js, Laravel, and more. Here's a selection of my favorite posts over the years:</p>
    <ul class="mt-6 mb-16 space-y-4">
      <li>
        <p class="font-medium">
          <a href="/effective-task-management-with-things">
            Effective task management with Things
          </a>
        </p>
        <p class="text-sm text-gray-700 dark:text-gray-600">
          How I use Things on daily basis, and how I think about task management in general
        </p>
      </li>
      <li>
        <p class="font-medium">
          <a href="/javascript-framework-diet">
            JavaScript Framework Diet
          </a>
        </p>
        <p class="text-sm text-gray-700 dark:text-gray-600">
          A series on building common functionality with vanilla JS
        </p>
      </li>
      <li>
        <p class="font-medium">
          <a href="/strawberry-jelly">
            Strawberry jelly
          </a>
        </p>
        <p class="text-sm text-gray-700 dark:text-gray-600">
          Tradeoffs we make with external dependencies
        </p>
      </li>
      <li>
        <p class="font-medium">
          <a href="/shop-built-jigs">
            Shop built jigs
          </a>
        </p>
        <p class="text-sm text-gray-700 dark:text-gray-600">
          Don't be afraid to build and maintain something yourself
        </p>
      </li>
      <li>
        <p class="font-medium">
          <a href="/react-for-vue-developers">
            React for Vue developers
          </a>
        </p>
        <p class="text-sm text-gray-700 dark:text-gray-600">
          How to React when you're coming from Vue
        </p>
      </li>
      <li>
        <p class="font-medium">
          <a href="/forget-about-component-lifecycles-and-start-thinking-in-effects">
            Forget about component lifecycles and start thinking in effects
          </a>
        </p>
        <p class="text-sm text-gray-700 dark:text-gray-600">
          All about React's useEffect
        </p>
      </li>
    </ul>
  </article>
{{ end }}
