{{ define "main" }}
  {{ $paginator := .Paginate (where $.Site.RegularPages "Section" "posts") }}

  {{ range $paginator.Pages }}
    <article class="post">
      {{ partial "post-header.html" (dict "post" . "heading" "h2" "all_series" $.Site.Data.series) }}
      <section class="markup">
        {{ if .Truncated }}
          {{ .Summary }}
          <p>
            <a href="{{ .RelPermalink }}">
              Read more
            </a>
          </p>
        {{ else if .Params.summary }}
          {{ .Params.summary | markdownify }}
          <p>
            <a href="{{ .RelPermalink }}">
              Read more
            </a>
          </p>
        {{ else }}
          {{ .Content }}
        {{ end }}
      </section>
    </article>
    <hr>
  {{ end }}

  {{ template "_internal/pagination.html" . }}
{{ end }}
