{{ define "main" }}

<header class="markup">
  <h1>Archive</h1>
  <input
    type="search"
    placeholder='Search (Press "/" to focus)'
    class="archive-search"
    data-archive-search
  >
</header>

{{ $keywords := slice }}
{{ range where $.Site.RegularPages "Section" "posts" }}
{{ $keywords = $keywords | append .Keywords }}
{{ end }}
<section>
  <ul class="archive-keywords">
    {{ range $keywords | uniq | sort }}
      <li>
        <button data-archive-keyword>
          {{ . }}
        </button>
      </li>
    {{ end }}
  </ul>
</section>

<ul class="archive-groups">
  {{ range ((where $.Site.RegularPages "Section" "posts").GroupByDate "Jan 2006") }}
    <li class="archive-group" data-archive-group>
      <h2>
        {{ .Key }}
      </h2>
      <div class="markup">
        <dl class="arrowless">
          {{ range .Pages }}
            <dt data-archive-item="
              {{ .Title | replaceRE "[^\\w]" "" | lower }}
              {{ range .Keywords }}
                {{ . | replaceRE "[^\\w]" "" | lower }}
              {{ end }}
            ">
              <a href="{{ .RelPermalink }}">
                {{ .Title }}
              </a>
            </dt>
            <dd data-archive-item="
              {{ .Title | replaceRE "[^\\w]" "" | lower }}
              {{ range .Keywords }}
                {{ . | replaceRE "[^\\w]" "" | lower }}
              {{ end }}
            ">
              <a href="{{ .RelPermalink }}" tabindex="-1">
                <time datetime="{{ .Date.Format "2006-01-02" }}">
                  {{ .Date.Format "January 2, 2006" }}
                </time>
              </a>
            </dd>
          {{ end }}
        </dl>
      </div>
    </li>
  {{ end }}
</ul>

{{ with resources.Get "js/archive.js" | minify }}
  <script>{{ .Content | safeJS }}</script>
{{ end }}

{{ end }}
